@font-face {
    font-family: MuseoRounded;
    src: url('../fonts/museosansrounded-300-webfont.eot');
    src: url('../fonts/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansrounded-300-webfont.woff') format('woff'),
         url('../fonts/museosansrounded-300-webfont.ttf') format('truetype'),
         url('../fonts/museosansrounded-300-webfont.svg#museo_sans_rounded_300regular') format('svg');
    font-weight: 300;
}
@font-face {
    font-family: MuseoRounded;
    src: url('../fonts/museosansrounded-700-webfont.eot');
    src: url('../fonts/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansrounded-700-webfont.woff') format('woff'),
         url('../fonts/museosansrounded-700-webfont.ttf') format('truetype'),
         url('../fonts/museosansrounded-700-webfont.svg#museo_sans_rounded_700regular') format('svg');
    font-weight: 700;
}
@font-face {
    font-family: MuseoRounded;
    src: url('../fonts/museosansrounded-900-webfont.eot');
    src: url('../fonts/museosansrounded-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosansrounded-900-webfont.woff') format('woff'),
         url('../fonts/museosansrounded-900-webfont.ttf') format('truetype'),
         url('../fonts/museosansrounded-900-webfont.svg#museo_sans_rounded_900regular') format('svg');
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size-adjust: none;
    vertical-align: baseline;
    line-height: 1.4em;
}

body {
    width: 100%;
    padding-top: 40px;
	background: url('../images/fabric_1.png') repeat 0 0;
    font-size: 15px;
	font-family: MuseoRounded, serif;
    font-weight: 300;
    text-shadow: 0 1px 0 #FFF;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 40px;
}

div.content {
    max-width: 510px;
    position: relative;
    margin: 0 auto;
    padding: 0 0.8em;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    font-weight: inherit;
}

strong {
	font-weight: 700;
	font-size: ;
}

ul {
    list-style: none;
    margin-top: 8px;
}

h1 {
    font-size: 22px;
    font-weight: 300;
}

h2 {
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
	padding: 0 0 4px;
	color: #222;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}

.clear {
	clear: both;
}

#poutine {
	display: block;
	margin: 0 auto;
	max-width: 434px;
	width: 100%;
}

#subscribe ul li {
	float: left;
	margin-right: 50px;
	padding: 20px 0 30px 0;
	font-size: 16px;
}

#subscribe li a {
	padding-left: 24px;
	background-repeat: no-repeat;
	border: none;
}

#subscribe .ical a {
	background-image: url('../images/ical.png');
}
#subscribe .passbook a {
	background-image: url('../images/passbook.png');
}
#subscribe .twitter a {
	background-image: url('../images/twitter.png');
}
#subscribe .meetup a {
	background-image: url('http://img2.meetupstatic.com/img/8308650022681532654/header/logo-2x.png');
	background-size: 21px 14px;
}

/* NEXT EVENT */

/* Something to explore here */
.next .date {
	padding-bottom: 22px;
	font-size: 24px;
	font-weight: 700;
	margin-top: -26px;
}
.next .venue {
	padding-bottom: 30px;
}
.next .venue .name {
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 700;
}
.next .venue .address {
	font-size: 14px;
}

hr {
	margin: 30px 0;
    width: 100%;
    height: 1px;
    background-color: #D1C9C0;
    box-shadow: 0 1px 0 #FFF;
}

.talks li {
    min-height: 24px;
    padding-top: 3px;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 0 24%;
    -webkit-background-size: 24px 24px;
    margin-bottom: 6px;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

.talks li.tell-us, p.rsvp {
    font-size: 14px;
    margin-top: 4px;
    color: #7c7c7c;
    padding-left: 0;
}

.talks a.speaker-name {
    font-weight: 700;
}

.talks .talk-title:before {
    content: " · ";
}

.past .talks {
	padding-bottom: 15px;
}

@media (max-width: 550px) {
    body {
        padding-top: 20px;
        padding-bottom: 0;
    }
    
    h1 {
        font-size: 19px;
    }
    
    h2 {
        padding-bottom: 20px;
    }
    
    .talk-title {
        display: block;
        margin-bottom: 3px;
    }
    
    .talks .talk-title:before {
        content: none;
    }
    
    .past .talks {
        padding-bottom: 20px;
    }
}
