---
layout: default
---

<div class="next">
  <h2>Next Event</h2>
</div>
<hr>
<div class="past">
  <h2>Past Events</h2>
  {% for event in site.past_events reversed %}
  <div class="talks clear">
    <h3>{{ event.title }}</h3>
    <div style="margin-left:35px; margin-top:10px">
		  {% for speaker in event.speakers %}
      <div class="clear">
        <div style="float:left; max-width:200px; min-height:30px; padding-right:3px">
		      {% if speaker.twitter %}
          <a href="http://twitter.com/{{ speaker.twitter }}" class="speaker-name">{{ speaker.name }}</a>
          {% else %}
          <span class="speaker-name">{{ speaker.name }}</span>
          {% endif %}
        </div>
        <div class="talk-title">
  				{{ speaker.title }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% if event.meetup_url %}
    <div class="clear" style="margin-bottom:15px">
      <a href="{{ event.meetup_url }}" data-event="{{ event.meetup_id }}" class="mu-rsvp-btn">RSVP</a>
      via Meetup
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
