<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" id="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="./css/master.css">
  <link rel="icon" type="image/png" href="./images/favicon.png">
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s); js.id=id;js.async=true;js.src="https://a248.e.akamai.net/secure.meetupstatic.com/s/script/781615113490305/api/mu.btns.js?id=lqjn9f0hkknjgdh3gc9ldjbnuo";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","mu-bootjs");
  </script>
</head>

